SQL Lesson 17: Altering tables

ALTER TABLE mytable

ADD column DataType OptionalTableConstraint 
    DEFAULT default_value;

ALTER TABLE mytable

DROP column_to_be_deleted;

In [2]:
# ALTER TABLE mytable
# ADD column DataType OptionalTableConstraint 
    # DEFAULT default_value;

In [ ]:
# FROM sales_associates
# WHERE salary > 
 #  (SELECT AVG(revenue_generated)
 #  FROM sales_associates);