reference: https://blog.csdn.net/BF02jgtRS00XKtCx/article/details/107828698

### 鍵盤快捷鍵
Cmd + Shift + P（在 Linux 和 Windows 上面则是 Ctrl + Shift + P）。这个对话框可以帮助你通过名称运行任何命令——如果你不知道某个操作的键盘快捷键，或者你想要执行的操作没有快捷键，那么这个方法就会非常有用。它的功能类似于 Mac 上的 Spotlight search，一旦你开始使用它，你将难以想象没有它该如何生活。

Esc 会使你进入命令模式，此时你可以通过方向键来导航你的 notebook。

当在命令模式时：

- A 键会在当前 cell 前面插入一个新的 cell，B 键则是在后面进行插入。

- M 键改变当前的 cell 为 Markdown 格式，Y 键将其换回代码格式。

- D + D（双击该键）可以删除当前的 cell

Enter 可以从命令模式返回到当前 cell 的编辑模式，

Shift + Tab 将会展示你刚刚输入的代码块的文档——你可以通过一直按这个快捷键来循环展示几种文档模式。

Ctrl + Shift + - 可以将当前代码块从你的光标位置，拆分为两个。

Esc + F 发现并替换你的代码，但是并不会输出。

Esc + O 切换当前 cell 的输出。

选择多个 cell：

- Shift + J 或者 Shift + Down 向下选择下一个 cell。你也可以通过使用 Shift + K 或者 Shift + Up 来向上选择对应的 cell。

- 当多个 cell 被选择时，你就可以一次性删除/复制/剪切/粘贴/运行它们。当你想要在 notebook 中移动一部分内容时，这就很有帮助。

- 你也可以使用 Shift + M 来合并多个 cell。

In [2]:
print('num 1')

print('num 2')

print('num 3')

num 1
num 2
num 3

### 2. 漂亮的展示變量

关于漂亮的第一点是众所周知的。当完成一个 Jupyter cell 时，如果是一个变量名或者是一个没有将输出赋值的语句，Jupyter 在没有 print 语句的情况下依然会展示该变量。这一点在处理 Pandas 的 DataFrames 时尤其有用，对应的输出会被整齐的展示为一个表格。

比较鲜为人知的是，你可以调整 ast_note_interactivity 内核选项，来使得 Jupyter 可以在自己的每行变量或语句上执行此操作，所以你可以一次性看到多个语句的变量值。

In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
from pydataset import data
quakes = data('quakes')
quakes.head()
quakes.tail()

     lat    long  depth  mag  stations
1 -20.42  181.62    562  4.8        41
2 -20.62  181.03    650  4.2        15
3 -26.00  184.10     42  5.4        43
4 -17.97  181.66    626  4.1        19
5 -20.42  181.96    649  4.0        11

        lat    long  depth  mag  stations
996  -25.93  179.54    470  4.4        22
997  -12.28  167.06    248  4.7        35
998  -20.13  184.20    244  4.5        34
999  -17.40  187.80     40  4.5        14
1000 -21.59  170.56    165  6.0       119

如果你想要在所有的 Jupyter（Notebook 和控制台）例子中设置这种形式，可以按照下面的方法简单的创建一个文件 ~/.ipython/profile_default/ipython_config.py。

In [ ]:
c = get_config()

# Run all nodes interactively
c.InteractiveShell.ast_nonde_interactivity = "all"

### 3. 方便的鏈接文檔
在内置的 Help 菜单中，你可以发现一些常见库在线文档的便捷链接，包括 NumPy，Pandas，SciPy 和 Matplotlib。

不要忘记在一个库，方法或者变量前面附加 ?，你就可以访问文档来获取相应语法的快速参考。

In [14]:
?str.replace()

Object `str.replace()` not found.

### 4. 在Notebook中繪圖
matplotlib（事实上已成为标准选项），通过  %matplotlib inline 来激活。这里推荐一个 Dataquest 上的  Matplotlib 教程[4]。

%matplotlib notebook 提供了交互性，但是略微有点慢，因为渲染是在服务端完成的。

Seaborn 是建立在 Matplotlib 之上的，可以非常容易的构建一些更具有吸引力的图形。只需要导入 Seaborn，无需任何代码上的修改，你的 matplotlib 图形就可以变得“更漂亮”。

mpld3 提供了对 matplotlib 代码替代的渲染器（使用 d3）。很不错，尽管还不够完整。

bokeh 是一个构建交互图形更好的选项。

plot.ly 可以生成漂亮的图形——这在过去只是一个付费服务，但是最近开源了。

Altair 是一个相对较新的 python 可视化库。它易于使用并且看一看做出很漂亮的图形，但是在自定义定制图形的能力上不如 Matplotlib 强大。

### 5. IPython魔術命令

上面我们提到的 %matplotlib inline 就是 IPython 魔术命令的一个例子。由于是基于 IPython 内核，Jupyter 可以从 IPython 内核中访问所有魔术命令，它们可以让你的生活轻松很多。