reference: https://github.com/zhiwehu/Python-programming-exercises

### Level description

**Level 1 Beginner**

Beginner means someone who has just gone through an introductory Python course. He can solve some problems with 1 or 2 Python classes or functions. Normally, the answers could directly be found in the textbooks.

**Level 2 Intermediate**

Intermediate means someone who has just learned Python, but already has a relatively strong programming background from before. He should be able to solve problems which may involve 3 or 3 Python classes or functions. The answers cannot be directly be found in the textbooks.

**Level 3 Advanced**

He should use Python to solve more complex problem using more rich libraries functions and data structures and algorithms. He is supposed to solve the problem using several Python standard packages and advanced techniques.

**Question 1**

Level 1

Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

Solution:

In [ ]:
select_num = []
for x in range(2000, 3201):
    if x%7==0 and x%5!=0 :
        select_num.append(str(x)) # not str, error occurs
    
print(','.join(select_num))

**Question 2**

Level 1

Question: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
def fact_num(x):  # 5*4*3*2*1=120
    if x == 0:
        return 1
    return x*fact_num(x-1)

In [ ]:
x = int(input())
print(fact_num(x))

**Question 3**

Level 1

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

Solution:

In [ ]:
n = int(input())
d = dict()
for i in range(1, n+1):
    d[i] = i*i
    
print(d)

**Question 4**

Level 1

Question: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple

Solution:

In [ ]:
values = input()
lst = values.split(",")
tpl = tuple(lst)
print(lst)
print(tpl)

**Question 5**

Level 1

Question: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

Hints: Use init method to construct some parameters

Solution:

In [ ]:
class InputOutString(object):
    def __init__(self):
        self.s = ""
    
    def getString(self):
        self.s = input()
        
    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

**Question 6**

Level 2

Question: Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
# C = 50, H = 30, 
import math
c = 50
h = 30
value = []
items = [x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))
    
print(','.join(value))

**Question 7**

Level 2

Question: Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Hints: Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

Solution:

In [ ]:
input_str = input()
dimensions = [int(x) for x in input_str.split(',')]
rowNum = dimensions[0]
colNum = dimensions[1]
multilist = [[0 for col in range(colNum)] for row in range(rowNum)]

for row in range(rowNum):
    for col in range(colNum):
        multilist[row][col] = row*col

print(multilist)

**Question 25**

Level 1

Question: Define a class, which have a class parameter and have a same instance parameter.

Hints: Define a instance parameter, need add it in init method You can init a object with construct parameter or set the value later

Solution:

In [ ]:
class Person:
    # define a class parameter "name"
    name = "Person"
    
    def __init__(self, name = None):
        self.name = name

jeffrey = Person('Jeffrey')
print("%s name is %s" % (Person.name, jeffrey.name))

nico = Person()
nico.name = "Nico"
print("%s name is %s" %(Person.name, nico.name))

**Question 26:**

Define a function which can compute the sum of two numbers.

Hints: Define a function with two numbers as arguments. You can compute the sum in the function and return the value.

Solution

In [ ]:
def SumFunction(number1, number2):
    return (number1 + number2)

print(SumFunction(1,2))

**Question 27**

Define a function that can convert a integer into a string and print it in console.

Hints:

Use str() to convert a number to string.

Solution

In [1]:
def int_to_str():
    n = input("input your number: ")
    return str(n)

int_to_str()

input your number: 6

'6'

In [2]:
type(int_to_str())

input your number: 6

str

1
1
1
2
2
2

2