refernece: https://towardsdatascience.com/7-python-tricks-to-make-my-code-better-and-smarter-60dfde0b6c49

### 1. List comprehension

List comprehension saves time and codes. It is a simple way to generate a list comparing to using loops.

In [13]:
# Ex
x = [1,2,3,4,5]
x_square = []

for i in x:
    x_square.append(i**2)
    
print(x_square)

[1, 4, 9, 16, 25]

In [14]:
x_square_lc = [i**2 for i in x]
print(x_square_lc)

[1, 4, 9, 16, 25]

In [6]:
# condition
x = [1,2,3,4,5]
x_square_con = []

for i in x:
    if i > 2:
        x_square_con.append(i**2)
print(x_square_con)

[9, 16, 25]

In [7]:
x = [1,2,3,4,5]
x_square_con2 = [ i**2 for i in x if i > 2 ]

### 2. Lambda function

lambda is a small anonymous function that behaves like a normal function.

In [8]:
def cal_square(x):
    return x**2

In [9]:
cal_square(3)

9

In [11]:
cal_square2 = lambda x:x**2

In [12]:
cal_square2(4)

16

In [13]:
a = ['a1', 'a128', 'a33', 'b78', 'd99', 'z782']
sorted(a, key = lambda x: int(x[1:]))

['a1', 'a33', 'b78', 'd99', 'a128', 'z782']

In [17]:
# for manipulate pandas dataframe
import pandas as pd
df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [18]:
df['sum_abc']=df.apply(lambda x:x.a + x.b + x.c, axis = 1)
df

   a  b  c  sum_abc
0  1  4  7       12
1  2  5  8       15
2  3  6  9       18