SQL Lesson 17: Altering tables

ALTER TABLE mytable

ADD column DataType OptionalTableConstraint 
    DEFAULT default_value;

ALTER TABLE mytable

DROP column_to_be_deleted;

In [2]:
# ALTER TABLE mytable
# ADD column DataType OptionalTableConstraint 
    # DEFAULT default_value;

In [ ]:
# FROM sales_associates
# WHERE salary > 
 #  (SELECT AVG(revenue_generated)
 #  FROM sales_associates);

In [3]:
# https://www.sqlservertutorial.net/sql-server-sample-database/

In [ ]:
CREATE TABLE sales.stores (
    store_id INT IDENTITY (1, 1) PRIMARY KEY,
    store_name VARCHAR (255) NOT NULL,
    phone VARCHAR (25),
    email VARCHAR (255),
    street VARCHAR (255),
    city VARCHAR (255),
    state VARCHAR (10),
    zip_code VARCHAR (5)
);

In [ ]:
CREATE TABLE sales.staffs (
    staff_id INT IDENTITY (1, 1) PRIMARY KEY,
    first_name VARCHAR (50) NOT NULL,
    last_name VARCHAR (50) NOT NULL,
    email VARCHAR (255) NOT NULL UNIQUE,
    phone VARCHAR (25),
    active tinyint NOT NULL,
    store_id INT NOT NULL,
    manager_id INT,
    FOREIGN KEY (store_id) 
        REFERENCES sales.stores (store_id) 
        ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (manager_id) 
        REFERENCES sales.staffs (staff_id) 
        ON DELETE NO ACTION ON UPDATE NO ACTION
);

In [ ]:
https://www.softwaretestinghelp.com/data-warehouse-modeling-star-schema-snowflake-schema/

In [5]:
# Example of star Schema