SQL Lesson 17: Altering tables

ALTER TABLE mytable

ADD column DataType OptionalTableConstraint 
    DEFAULT default_value;

ALTER TABLE mytable

DROP column_to_be_deleted;

In [2]:
# ALTER TABLE mytable
# ADD column DataType OptionalTableConstraint 
    # DEFAULT default_value;

In [ ]:
# FROM sales_associates
# WHERE salary > 
 #  (SELECT AVG(revenue_generated)
 #  FROM sales_associates);

In [3]:
# https://www.sqlservertutorial.net/sql-server-sample-database/

In [ ]:
CREATE TABLE sales.stores (
    store_id INT IDENTITY (1, 1) PRIMARY KEY,
    store_name VARCHAR (255) NOT NULL,
    phone VARCHAR (25),
    email VARCHAR (255),
    street VARCHAR (255),
    city VARCHAR (255),
    state VARCHAR (10),
    zip_code VARCHAR (5)
);